<launch>
    <arg name="cam_name" default="front_cam" />

    <node name="collect_camera_lidar_data" pkg="camera_2d_lidar_calibration" type="collect_camera_lidar_data.py" output="screen">
        <remap from="image" to="/$(arg cam_name)/color/image" />
        <remap from="camera_info" to="/$(arg cam_name)/color/camera_info" />
        <param name="output_file" value="$(find camera_2d_lidar_calibration)/data/data.txt" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_2d_lidar_calibration)/rviz/show.rviz" />

</launch>
